*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 320px;
    margin: 0;
    font-family: 'GothamPro', sans-serif;
}

.header {
    min-width: 320px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto 0 auto;

}

.header__logo {
    margin-left: 11px;
}

.header__link {
    text-decoration: none;
}

.navbar__list {
    width: 120px;
    display: flex;
    justify-content: space-between;
    
}

.navbar__btn_search,
.navbar__btn_user,
.navbar__btn_basket {
    position: relative;
    border: none;
}
.navbar__btn_search::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    background-image: url("/img/search.svg");
    top: 0;
    left: -20px;
}
.navbar__btn_user::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 19px;
    background-image: url("/img/man.svg");
    top: 0;
    left: -20px;
}
.navbar__btn_basket::before {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    background-image: url("/img/basket.svg");
    top: 0;
    left: -20px;
}

.page-main {
    min-width: 320px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}