.header__wrapper {
    background-color: $color-light;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
}

.header__contact {
    display: flex;
    justify-content: space-between;
}

.header__link {
    text-decoration: none;
    color: $color-black;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
}

.header__btn {
    border: none;
    background-color: $color-light;
}

.header__adress {
    position: relative;
    border: none;
    background-color: $color-grey;
    font-weight: 300;
}

.header__tel {
    color: $color-black;
    text-decoration: none;
    font-size: 18px;
    line-height: 19.6px;
}