@font-face {
    font-family: "GotamPro";
    src: url("../../fonts/Gotham/GothamPro.woff2") format("woff2"),
      url("../../fonts/Gotham/GothamPro.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "GotamPro";
    src: url("../../fonts/Gotham/GothamPro-Bold.woff2") format("woff2"),
      url("../../fonts/Gotham/GothamPro-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "GotamPro";
    src: url("../../fonts/Gotham/GothamPro-Light.woff") format("woff2"),
      url("../../fonts/Gotham/GothamPro-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
  }
